# =========================
# COUCHDB
# =========================
COUCHBASE_USER=admin
COUCHBASE_PASSWORD=admin123
COUCHBASE_BUCKET=places
COUCHBASE_HOST=localhost
COUCHBASE_KV_PORT=11210
COUCHBASE_API_PORT=8093

# =========================
# MEMGRAPH
# =========================
MEMGRAPH_HOST=localhost #Local
#MEMGRAPH_HOST=memgraph-mage #Docker
MEMGRAPH_PORT=7687
MEMGRAPH_URL=bolt://localhost:7687
MEMGRAPH_USER=
MEMGRAPH_PASSWORD=

# =========================
# BACKEND
# =========================
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=true

# =========================
# ETL
# =========================
BATCH_SIZE=1000

# ===============
# DATA WAREHOUSE 
# ===============
DW_ENABLED=false

# ===============
# FRONTEND 
# ===============
REACT_APP_API_URL=http://127.0.0.1:8000
PORT=3333