# =========================
# COUCHDB
# =========================
COUCHDB_USER=admin
COUCHDB_PASSWORD=password
COUCHDB_HOST=couchdb
COUCHDB_PORT=5984
COUCHDB_DB=badajoz
COUCHDB_URL=http://admin:password@couchdb:5984

# =========================
# MEMGRAPH
# =========================
MEMGRAPH_HOST=memgraph
MEMGRAPH_PORT=7687

# =========================
# BACKEND
# =========================
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=true

# =========================
# ETL
# =========================
BATCH_SIZE=1000

# ===============
# DATA WAREHOUSE 
# ===============
DW_ENABLED=false