# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Entornos virtuales
venv/
.env/
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# Node (por si frontend usa npm)
# =========================
node_modules/

# =========================
# Archivos de datos grandes
# =========================
#*.geojson
*.csv

# =========================
# Docker
# =========================
*.env
docker-data/

# =========================
# Base de datos local (si aplica)
# =========================
*.db
*.sqlite3

# =========================
# Misc
# =========================
dist/
build/